malmoRL/weights
malmoRL/mission_records
*.tgz
*.pyc

*/__pycache__/*

.DS_Store

*.h

Documentation/

Java_Examples/

Minecraft/.gradle/2.14/taskArtifacts/

CSharp_Examples/

Minecraft/

Schemas/

scripts/

Sample_missions/

.idea/inspectionProfiles/Project_Default.xml

.idea/Malmo.iml

.idea/misc.xml

.idea/modules.xml

changelog.txt

Cpp_Examples/CMakeLists.txt

Cpp_Examples/include/Tarball.hpp

Cpp_Examples/lib/Malmo.lib

Cpp_Examples/run_mission.cpp

Cpp_Examples/run_mission.exe

HumanAction/MalmoNET.dll

HumanAction/MalmoNETNative.dll

HumanAction/MalmoNETNative.lib

install_linux.md

install_macosx.md

install_windows.md

LICENSE.txt

malmo.properties

Mod/jar_readme.md

Mod/MalmoMod-0.37.0.jar

Python_Examples/__pycache__/malmoutils.cpython-37.pyc

Python_Examples/agent_visibility_test.py

Python_Examples/animation_test.py

Python_Examples/block_type_test.py

Python_Examples/braitenberg_simulation.py

Python_Examples/build_test.py

Python_Examples/cart_test.py

Python_Examples/chat_reward.py

Python_Examples/chunk_test.py

Python_Examples/craft_work.py

Python_Examples/decision_tree_test.py

Python_Examples/default_world_test.py

Python_Examples/depth_map_runner.py

Python_Examples/discrete_3d_test.py

Python_Examples/drawing_test.py

Python_Examples/file_test.py

Python_Examples/hit_test.py

Python_Examples/human_action.py

Python_Examples/inventory_test.py

Python_Examples/MalmoPython.lib

Python_Examples/MalmoPython.pyd

Python_Examples/malmoutils.py

Python_Examples/manual_input_test.py

Python_Examples/MazeRunner.py

Python_Examples/mission_quit_command_example.py

Python_Examples/mob_fun.py

Python_Examples/mob_zoo.py

Python_Examples/mouse_steering_test.py

Python_Examples/moving_target_test.py

Python_Examples/multi_agent_test.py

Python_Examples/MultiMaze.py

Python_Examples/note_block_test.py

Python_Examples/overclock_test.py

Python_Examples/patchwork_quilt.py

Python_Examples/quit_from_reaching_position_test.py

Python_Examples/radar_test.py

Python_Examples/render_speed_test.py

Python_Examples/reward_for_discarding_items_test.py

Python_Examples/reward_for_items_test.py

Python_Examples/reward_for_mission_end_test.py

Python_Examples/robust_frames.py

Python_Examples/run_mission.py

Python_Examples/sample_missions_loader.py

Python_Examples/tabular_q_learning.py

Python_Examples/team_reward_test.py

Python_Examples/teleport_test.py

Python_Examples/to_string_test.py

Python_Examples/tsp_race.py

Python_Examples/turn_based_test.py

Python_Examples/tutorial_1.py

Python_Examples/tutorial_2.py

Python_Examples/tutorial_3.py

Python_Examples/tutorial_4_solved.py

Python_Examples/tutorial_4.py

Python_Examples/tutorial_5_solved.py

Python_Examples/tutorial_5.py

Python_Examples/tutorial_6.py

Python_Examples/tutorial_6.xml

Python_Examples/tutorial_7.py

Python_Examples/tutorial_8.py

Python_Examples/Tutorial.pdf

Python_Examples/two_diggers.py

Python_Examples/use_file.py

Python_Examples/zlib.dll

readme.html

src/returns.png

src/returns.txt
